html, body, ul{
	padding:0;
	margin:0;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	height:100%;
}

a{
	text-decoration: none;
	color: inherit;
}

/*Header background image*/

.header-img-wrap{
	width:100%;
	height:100%;
	z-index: 0;
	overflow: hidden;
}
.header-img-wrap.project{
	height:50%;
	background-color: black;
}

.header-img{
	width:120%;
	height: 120%;
	/*-webkit-filter: blur(5px) contrast(115%) brightness(70%);*/
	margin: -20px;
	background: url('../img/hiking.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-img img{
	width: 100%;
	margin-top: -80px;
}

.project-header-img{
	width:120%;
	height: 120%;
	-webkit-filter: blur(3px) contrast(115%) brightness(70%);
	margin: -20px;
	
}

/*.project-name{
	position: absolute;
	color:#fff;
	z-index: 1;
	margin-top: auto;
}*/

#subwaysiesta{
	background: url('../img/subwayheader.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

#projectvaus{
	background: url('../img/projectvaus.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

#mallgoheader{
	background: url('../img/mallgo.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

#cluttercapture{
	background: url('../img/cluttercaptureheader.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

#corpsquareheader{
	background: url('../img/plane.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

#smartenergyheader{
	background: url('../img/squirrelhill.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}


/* Navigation */

.nav{
	width:100%;
	height:60px;
	position: fixed;
	top:0;
	left:0;
	color:#fff;
	z-index: 1000;
}
.nav-bkgd{
	background-color: #fff;
	width:100%;
	height:100%;
	opacity:.6;
	position:absolute;
	top:0px;
	left:0px;
	border-bottom: thick solid #3a7d2a;
}

.nav ul{
	position:absolute;
	right:30px;
	list-style-type: none;
	text-transform: uppercase;
}

.nav li{
	display: inline;
	margin-right:30px;
	line-height: 60px;
;
}
.nav a{
	color: #000;
	text-decoration: none;
}

.nav a:hover{
	text-decoration: underline;
}

.nav-amanda, #nav-amanda-index{
	position: absolute;
	color: #000;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 60px;
	padding-left: 2%;
	z-index: 100;
	font-size: 2em;
}

#nav-amanda-index{
	display: none;
}

/* Header intro */

.intro-header-wrap{
	width: 100%;
	height:100%;
	color:#fff;
	position: absolute;
	z-index: 100;
	top:0;
	display:table;
}
.intro-header{
	text-align: center;
	display:table-cell;
	vertical-align: middle;
	
}

.eyebrow{
	font-size: 1.3em;
	color:rgba(255,255,255,0.6);
	padding-top:10em;
}

.title-name{
	text-transform: uppercase;
	font-size: 3.75em;
	margin-top: .05em;
	margin-bottom: .25em;
}

.intro-text{
	line-height: 1.5em;
	font-size: 1.3em;
	width: 60%;
	color:rgba(255,255,255,0.6);
	margin: 2% 20% 2% 20%;
}
.intro-text a{
	color:#fff;
}
.intro-text a:hover{
	text-decoration: underline;
}

.outline-button{
	margin: 3em 1em 4em 1em;
	width: auto;
	display: inline-block;
}

.outline-button a{
	text-transform: uppercase;
	border: 3px solid #646363;
	font-size: 1.3em;
	width: intrinsic;
	padding: .7em 2em .7em 2em;
	color: #000000;
}

a.outline-anchor:hover{
	color: #ffffff;
	background-color: #646363;
}

#home-outline a{
	color: #ffffff;
	border: 3px solid #ffffff;
}

#home-outline a:hover{
	color:#000;
	background-color: #ffffff;
}

/* Work */
.work-container{
	width:100%;
	background-color: #fff;
}

.work-header{
	position: absolute;
	font-size: 3.125em;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	margin-top: 2%;
}

.project-grid{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 5.5%;
	position: relative;
	max-width: 800px;
}

.grid-element{
	display: inline-block;
	width: 30%;
	margin: 10px 1.5%;

}

.grid-element img {
	width: 100%;
	opacity: 1;
}


/* About Me */

.aboutme-container{
	/*background-color: #E8EAEA;*/
	background-image: url('../img/crossword.png');
	background-repeat: repeat;
	float:left;
}

.aboutme-header{
	font-size: 3.125em;
	text-transform: uppercase;
	text-align: center;
	padding-top: 2%;
}

.aboutme{
	width: 60%;
	margin: 0 auto;
}

.aboutme-img img{
	height: 25%;
	width: 25%;
	padding: 2%;
	float:left;
}

.aboutme-content{
	width: 70%;
	padding-top: 2%;
	float:right;
	position: relative;
	line-height: 1.375em;
}

.aboutme-content a{
	color: #3a7d2a;
}

.aboutme-content a:hover{
	text-decoration: underline;
}

.copyright{
	font-size: .6em;
	display: table-cell;
   	vertical-align: bottom;
}

/*Contact form*/
.contact-form {
    float:left;
    margin:1em auto;
    width:35%;
}

.contact-header{
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
	padding-top: 2%;
}

form {
    margin:0 auto;
    width:100%;
}

#contact-left {
	float:left;
	position: relative;
	width: 45%;
}


input, textarea {
    height:27px;
    background:#efefef;
    border:1px solid #23918e;
    padding:10px;
    margin:3px;
    font-size:0.9em;
/*    color:#3a3a3a;*/
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
	height:25%;
	width: 100%;
	float:left;
	position: relative;
}

#submit {
    margin: .8em 0 .8em 1.5em;
    width:127px;
    height:100%;
    text-transform: uppercase;
	border: 3px solid #23918e;
	font-size: 1.3em;
	width: intrinsic;
	padding: .7em 2em .7em 2em;
	color: #23918e;
	background: #E8EAEA;
/*    margin-top:20px;*/
    cursor:pointer;
}

#submit:hover {
color: #000;
background-color: #23918e;
}

/* Contact Bubbles */

.contact-bubbles-wrapper{
	margin: 1em auto 5em auto;
	width: 100%;
}

.contact-bubbles{
	float: left;
	margin: 1em auto;
	width: 25px;
}

.bubble{
	width:20%;
	height: 100%;
	float: left;
}

.bubble img{
	-moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;;
    width: 50px;
    height:100%;
}

/* Contact images */
.contact-images{
	display:inline-block;
	margin: 0 20px 0 20px;
}
.contact-images img{
	height:30px;
}

img.contact-images{
	height: 5em;
	vertical-align: bottom;
}

/* Project */

.project-intro-wrapper{
	/*background-color: #3a7d2a;*/
	background-image: url('../img/pattern.png');
	background-repeat: repeat;
	width: 100%;
	height: 100%;
}

.project-intro-content{
	line-height: 1.69em;
	color: #000000;
	width: 60%;
	margin: 0 auto;
	padding:1.5em;
}

.project-intro-content a{
	text-decoration: underline;
	color:#3a7d2a;
}

.project-name{
	z-index: 1000;
	color: #fff;
	font-size: 2.25em;
	margin-top: 24%;
	margin-left: 2%;
}

.project-name{
	position: absolute;
	/*color:#fff;
	z-index: 1;
	margin-top: auto;*/
}

.ornament{
	width: 60%;
	margin: 1% auto;
	text-align: center;
}

.ornament img{
	width: 10%;
}

.chevron{
	margin: 1% auto;
	text-align: center;
	cursor: pointer;
}

.project-info-wrapper{
	width: 60%;
	margin:0 auto;
	padding-bottom: 6%;
}

.project-info{
	width: 33%;
	float: left;
	line-height: 1.3em;
	color:#0A0A0A;
}

.project-info-header{
	font-size: .875em;
	color: #3a7d2a;
	text-transform: uppercase;
	margin-top: 5%;
}

.header-line{
	height:2px;
	width: 60%;
	background-color: #3a7d2a;
	/*background-color:#33D1CD;*/
	z-index: 1000;
	margin: 1% auto;
}

.project-info-content p{
	color: #000;
	margin-bottom: 3px;
	margin-top: 8px;
}

.project-content-wrapper{
	width: 100%;
	float: left;
	padding-bottom: 1em;
}

.project-content-header{
	color: #000;
	text-transform: uppercase;
	width: 60%;
	margin: 3% auto 0 auto;
}

.project-content{
	width: 60%;
	margin: 2% auto 0 auto;
	line-height: 1.375em;
}

.project-content a{
	text-decoration: underline;
	color: #3a7d2a;
}

.project-content img{
	width: 60%;
	margin: 3% auto 0 auto;
	text-align: center;
	display: inline;
}

.project-images{
/*	max-width:40%;*/
	margin: 3% auto 0 auto;
	text-align: center;
}

#corpsquaremocks{
	max-width: 4em;
	margin: 1em auto;
}

/*Other Work*/

.other-work-wrapper{
	width: 100%;
	float: left;
	padding-bottom: 1em;
}

.other-work-header{
	color: #000;
	font-size: 2.25em;
	margin-left: 2%;
	text-align: center;
}


#vaus-images{
	width: 15%;
	float: left;
	margin:10px;
}

#vaus-images img{
	width: 100%;
	height: 80%;
}

.project-image-dividers{
	height:50px;
	width: 2px;
	background-color:#E8EAEA;
	float:left;

/* Project header images */
